
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353535;
  min-height: 100vh; /* make sure the body takes the full height of the viewport */
}

.app-container {
  background-color: #ffffff;
  max-width:fit-content;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  margin: 0 auto; /* Center the container horizontally */
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .app-container {
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

.header {
  background-color: #eeefef;
  border-radius: 10px 10px 0px 0;
}

.tooltip {
  position: absolute;
  z-index: 999;
  opacity: 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: start;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333;
  pointer-events: none;
}

.graph {
  margin: 0 auto;
  border: 1px solid #ddd;
  opacity: 0;
  color: #333;
  position: relative;
  transition: opacity 0.3s ease;
}

.heatmap-header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  color: rgb(54, 52, 52);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 5px;
  text-shadow: 0px 1px 0px rgba(22, 21, 21, 0.5);
}


.heatmap-header {
  padding-top: 10px;
  text-align: center;
}

.heatmap-header p, text {
  text-align: center;
  font-size: 0.8em; 
  font-family: 'Roboto', sans-serif;
  color: #ffffff; 
  margin: 10px 2px; 
  padding: 8px; 
  background-color: #414040; 
  border: 2px solid #2b2e6b;
  box-shadow: 2px 2px 8px rgba(0.1, 0.1, 0.1, 0.1);
  border-radius: 8px; /* Rounded corners */
  display: inline-block; 
}

text {
  text-align: center;
  font-size: 1em; 
  font-family: 'Roboto', sans-serif;
  color: #333; 
}


.visualization-container {
  display: flex;
  justify-content: center;
  overflow-x: auto; /* Makes it scrollable*/
  overflow-y: auto; /* Makes it scrollable*/
}


.heatmap-scrollable {
  overflow-x: auto; /* Allows horizontal scrolling if needed */
  overflow-y: auto; /* Allows vertical scrolling if needed */
  height: 440px; /* Fixed height for the container */
  max-width: 100%; /* Make the container responsive with a max-width of 100% */
  width: 100%; /* Full width of the parent container */
  margin-bottom: 10px; /* Space below the container */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  justify-content: center; /* Center the SVG horizontally within the container */
  align-items: center;
}

/* Ensure SVG scales properly */
.heatmap-scrollable svg {
  max-width: 1000%; /* Scale the SVG to fit within the container */
  height: auto; /* Maintain the SVG’s aspect ratio */
  display: block; /* Ensure the SVG is treated as a block-level element */
}


/* Optional: Media query for smaller screens */
@media (max-width: 768px) {
  .heatmap-scrollable {
    height: 300px; /* Adjust height for smaller screens */
  }
}

.dropdown-content {
  display:flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px; 
  margin: 10px;
  text-decoration: none;
}

.error-text {
  font-size: 11px;
  color: rgb(201, 38, 38);
  font-family: sans-serif;
}

.filter-form-row {
  display:flex;
  padding: 2px;
  justify-content: center;
}

.filter-form-row h3 {
  margin:4px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.filter-form button, input[type="submit"] {
  display: inline-block;
  padding:2px 10px 2px 10px;
  margin-inline: 2px;
  font-size: 11px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: hsl(204, 45%, 51%);
  transition: background-color 0.3s ease;
}

.filter-form button:hover, input[type="submit"]:hover {
  background-color: #2980b9;
}
.filter-form {
  justify-content: center;
  text-align: center;
  font-size: 11px;
  font-family: "Hedvig Letters Sans", sans-serif;
}

.range-block select{
  width: 130px;
  text-align: center;
  margin:5px;
  margin-inline: 7px;
  font-size: 11px;
  font-family: "Hedvig Letters Sans", sans-serif;
}

#c_value_select {
  width:50px;
}

#min_support, #freq_size{
  width:50px;
  margin-inline: 7px;
}

#apriori_submit {
  padding:8px 15px 8px 15px;
  margin: 5px;
}

.range-block label {
  text-align: left;
  display:inline-block
}

.range-block {
  margin-inline: 10px;
}

.matrix-container{
  align-items: center;
  overflow-x: auto; /* Makes it scrollable when needed */
  display:flex;
  width: 100%; /* Width greater than the container width to enable scrolling */
  height: 100%; /* Ensure it fills the container height */
}

.legend-container {
  margin-left: 20px;
  text-align: center;
  background-color: #f2f2f3;
  border: 1.5px solid #ddd; 
  border-radius: 2px;
  width:125px;
  height:280px;
}
.legend-container h3{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.yLabel {
  transform: rotate(270deg);
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  margin-right: -50px;
}

.xLabel {
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  display: flex;
  margin-bottom: -30px;
}
.right-container {
  width:200px;
}


.menubar {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 0px 5px;
  font-size: 13px;
  font-family: "Hedvig Letters Sans", sans-serif;
}

.tab-container {
  flex: 1;
  display: flex;
  margin-inline-start: -4px;
}

.tab {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  cursor: pointer;
  text-align: center;
  padding: 10px 16px;
  background-color: #ddd;
  border-radius: 10px 10px 0px 0;
  margin: 0 1px;
  transition: background-color 0.3s ease;
  box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.1);
}

.tab:hover, .dropdown-button:hover{
  background-color: #9d9d9d;
  color:#ffffff;
}

.tab.active {
  background-color: #6c6a6a;
  color:#ffffff;
}


.dropdown-button {
  justify-content: flex-end;
  margin-right: 20px;
  padding:5px 10px 5px 10px;
  margin-bottom: 5px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 11px;
  background-color: #ddd;
  transition: background-color 0.3s ease;
}
